<h1>ユーザー編集</h1>
<%= form_for @user do |f| %>

<%= f.label :ユーザー名 %><br>
<%= f.text_field :name %>

<%= f.label :メールアドレス %><br>
<%= f.text_field :email %>

<%= f.label :プロフィール画像 %><br>
<%= f.attachment_field :profile_image_id, placeholder: "プロフィール画像" %><br>

<%= f.submit "Update User" %>
<% end %>
